.container,.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#slider-heading{
    left: 300px;
}

.btns{

}

.thumbnails{
    background-color: aquamarine;
}