.container,.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#slider-heading{
    left: 300px;
}

.btn{
 background-color: blue;
 color: white;
}

.thumbnails{
    background-color: aquamarine;
}